<div class="textbox-container" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
  <div class="textbox-wrapper">
    <input
      id="dropdown-textbox"
      #textbox
      type="text"
      (focus)="handleDropdownFocus($event)"
      (blur)="handleDropdownBlur($event)"
      [placeholder]="placeholder"
    />
    <div
      *ngIf="selectedItem"
      (click)="handleClearIconClick($event)"
      class="clear-icon-container"
    >
      &#x2a2f;
    </div>
  </div>
  <div class="actions-container">
    <div [class.rotate]="isOpen" (click)="toggleDropdown()" class="down-icon-container">
      <i class="fas fa-caret-down"></i>
    </div>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="dropdown-panel-class"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayWidth]="dropdownWidth"
  [cdkConnectedOverlayOffsetY]="2"
  (overlayOutsideClick)="handleOverlayOutsideClick($event)"
  (overlayKeydown)="handleOverlayKeydown($event)"
  (attach)="handleDropdownOptionsVisible()"
>
  <cdk-virtual-scroll-viewport
    [itemSize]="37"
    class="dropdown-viewport"
    [style.height.px]="displayList.length <= 5 ? displayList.length * 37 : 200"
  >
    <div
      *cdkVirtualFor="let item of displayList; let i = index"
      [ngClass]="{ selected: item === selectedItem }"
      (click)="handleItemClick($event, item)"
      class="dropdown-item"
    >
      <div class="text">
        {{ item[dataKey] }}
      </div>
      <div class="icon-container">👍</div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
