<div class="textbox-container">
  <input
    #textbox
    type="text"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (focus)="handleDropdownFocus($event)"
    (blur)="handleDropdownBlur($event)"
    [placeholder]="placeholder"
  />
  <div *ngIf="currentIndex !== -1" (click)="handleClearIconClick($event)" class="clear-icon-container">&#x2a2f;</div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayPanelClass="dropdown-panel-class"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayWidth]="dropdownWidth"
  [cdkConnectedOverlayOffsetY]="2"
  (overlayOutsideClick)="handleOverlayOutsideClick($event)"
  (overlayKeydown)="handleOverlayKeydown($event)"
  (attach)="handleDropdownOptionsVisible()"
>
  <cdk-virtual-scroll-viewport
    [itemSize]="37"
    class="dropdown-viewport"
    [style.height.px]="displayList.length <= 5 ? displayList.length * 37 : 200"
  >
    <div
      *cdkVirtualFor="let item of displayList; let i = index"
      [ngClass]="{ selected: i === currentIndex }"
      (click)="handleItemClick($event, item, i)"
      class="dropdown-item"
    >
      <div class="text">
        {{ item[dataKey] }}
      </div>
      <div class="icon-container">👍</div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
